// Your custom SCSS should be written here...
// ++++++++++++++++++++
// These two were supplied out of the box. Helps control the removal of grav-lightslider menu
.grav-lightslider {
  .lSSlideOuter {
    .lSPager.lSpg {
      > li a {
        z-index: 1;
      }
    }
  }
}
#body > script:first-child + .grav-lightslider {
  margin-top: -3rem;
}
// ++++++++++++++++++++!

// ++++++++++++++++++++
// General -- improve the handling of subheads. Note specific over-ride for the home page banner
h1, h2, h3, h4, h5, h6 {
  line-height: 2.3rem;
}
//Title page -- add extra room above suhbead (H2) directly below main site title (H1)
// Uses technique of "adjacent sibling" combinator to affect the H2 directly following H1
h1 + h2 {
  margin-top: 1rem;
}
// ++++++++++++++++++++!

// ++++++++++++++++++++
// Darkens the background color of the header bar after the page has been scrolled. Default color was white.
// The styles below are modifications of core to position and color the header and logo area
#header {
  background-color: hsla(0, 0%, 70%, 0.75);
  box-shadow: 0 0.05rem 1rem rgba(0,0,0,0.75);
}
.scrolled#header {
  background-color: hsla(0, 0%, 70%, 0.75) !important;
}
#header #logo {
  margin-top: 1rem;
  background: url('../images/gBug_round.svg') no-repeat;
  background-size: contain;
}
.scrolled#header #logo {
  margin-top: 0;
}
#header #logo h3 {
  margin-left: 90px;
  text-transform: none;
}
.scrolled#header #logo h3 {
  margin-left: 60px;
}
// ++++++++++++++++++++!

// ++++++++++++++++++++
// General-purpose utility classes -- primarily for use with
// images within content areas.
// ++++++++++++++++++++
.float-right {
  float: right;
  margin-left: 1.5rem;
}

.float-left {
  float: left;
  margin-right: 1.5rem;
}
// ++++++++++++++++++++!

// ++++++++++++++++++++
// Simple Image Gallery
// ++++++++++++++++++++
.simplegallery li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;


  -webkit-flex-wrap: nowrap;

      -ms-flex-wrap: nowrap;

          flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.simplegallery li {
  list-style-type: none;
}

.image-surround {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 auto;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
}

.image-info {
  padding-left: 1em;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0 0 0.5em;
  }
  p {
    font-size: 0.95rem;
    line-height: 1.25rem;
    margin: 0;
  }
}
// ++++++++++++++++++++!
// simplegallery li {
//   display: flex;
//   list-style-type: none;

//   flex-wrap: nowrap;
//   align-items: flex-end;
// }

// .image-surround {
//   flex: 2 0 auto;
// }

// .image-info {
//   padding-left: 1em;
//   flex: 1 1 auto;
//   h2 {
//     font-size: 1.5rem;
//     line-height: 1.5rem;
//     margin: 0 0 0.5em;
//   }
//   p {
//     font-size: 0.95rem;
//     line-height: 1.25rem;
//     margin: 0;
//   }
// }
