// Your custom SCSS should be written here...

.grav-lightslider {
  .lSSlideOuter {
    .lSPager.lSpg {
      > li a {
        z-index: 1;
      }
    }
  }
}

#body > script:first-child + .grav-lightslider {
  margin-top: -3rem;
}

// Darkens the background color of the header bar after the page has been scrolled. Default color was white.*/

#header.scrolled {
  background-color: hsla(0, 0%, 70%, 0.75) !important;
}

#header #logo h3 {
  text-transform: none;
  margin-left: 63px;
  color: red;
}

#header #logo {
  background: url('../images/gBug_round.svg') no-repeat;
  background-size: contain;
  margin-top: 1rem;
}

#header.scrolled #logo {
  margin-top: 0;
}

.float-right {
  float: right;
  margin-left: 1.5rem;
}

.float-left {
  float: left;
  margin-right: 1.5rem;
}


