{% extends "forms/default/data.html.twig" %}

{% for field in form.fields %}
{% block field %}
    <div>
        {% block field_label %}
            <strong>{{ field.label }}</strong>
        {% endblock %}:

        {% block field_value %}
            {% if field.type == 'checkboxes' %}
                <ul>
                {% for value in form.value(field.name) %}
                    <li>{{ field.options[value] }}</li>
                {% endfor %}
                </ul>
        {{ dump(field) }}
            {% else %}
                {{ string(form.value(field.name)|e)|nl2br }}
            {% endif %}
        {% endblock %}</div>
{% endblock %}
{% endfor %}



